{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
        <h1 class="center-align general-title">{{ page_title }}</h1>
    </div>

    <!-- Code for form from Materialize.com -->
    <form class="col s12" method="POST" action="{{ url_for('add_category') }}">
        <div class="card-panel">
            <!-- Input for adding a category name  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix"></i>
                    <input id="category_name" name="category_name" minlength="2" maxlength="100" type="text" class="validate" placeholder="Name" required />
                    <label for="category_name">New Category's name</label>
                </div>
            </div>

            <!-- Submit button for adding a new category -->
            <div class="row">
                <div class="center-align col s6 offset-s3">
                    <button type="submit" class="btn-large waves-effect waves-light blue lighten-1">Add this new category now! <i class="material-icons right"></i></button>

                    <!-- Button to cancel all changes and return to manage_categories -->
                    <a href="{{ url_for('manage_categories') }}" class="btn-large waves-effect waves-light blue lighten-1"> Cancel <i class="material-icons right"></i> </a>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}