{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="row">
        <h4 class="white-text text-shadow  center-align">Edit your review on {{ review.game_name}}</h4>
    </div>

    <!-- Code for form from Materialize.com -->
    <form class="col s12" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
        <div class="card-panel">

            <!-- Input for adding the review being commented on -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix blue-text text-darken-3"></i>
                    <input id="game_name" name="game_name" value="{{ review.game_name }}"
                        minlength="5" maxlength="100" type="text" class="validate" placeholder="Name">
                    <label for="game_name">Game</label>
                </div>
            </div>

            <!-- Input for editing a review's content -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix blue-text text-darken-3"></i>
                    <textarea id="game_review" name="game_review" minlength="5" maxlength="300"
                        placeholder="Brief desciption, less than 300 characters!" class="materialize-textarea validate"
                        required>{{ review.game_review }}</textarea>
                    <label for="game_review">Review</label>
                </div>
            </div>

            <!-- Submit button for editting a review  -->
            <div class="row">
                <div class="center-align col s6 offset-s3">
                    <button type="submit" class="btn-large waves-effect waves-light blue lighten-1">
                        Edit this review<i class="fas fa-check right"></i>
                    </button>

                    <!-- Button to cancel all changes and return to games -->
                    <a href="{{ url_for('profile', username=session["user"]) }}"
                        class="btn-large waves-effect waves-light text-shadow orange darken-4">
                        Cancel <i class="fas fa-times right"></i>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}