{% extends "base.html" %}
{% block content %}

<div class="row ">
    <div class="col s12">
      <h1 class=" white-text text-shadow center-align general-title">{{ page_title }}</h1>
    </div>
  
    <!--game details-->
    <div class="row">
      <div class="col m6">
        <img src="{{ game.game_image }}" alt="Picture of game">
      </div>
  
      <div class="white-text text-shadow col l6">
        <ul>
          <li class="hide-on-small-only"><b>Genre:</b> {{ game.category_name }}</strong></li>
          <li><b>Name:</b> {{ game.game_name }}</li>
          <li><b>Description:</b> {{ game.game_description }}</li>
        </ul>
      </div>
    </div>

    <div class="row">

        <!-- Add review form -->
        <div class="col s12 m6 center-align">
            <h2 class="white-text text-shadow heading comment-sub-heading">Add a review</h2>
            <div class="row card-panel">
                <form class="col s12" method="POST" action="{{ url_for('add_review') }}">
                <div class="input-field col s12">
                    <label for="game_name">Game</label>
                    <input id="game_name" type="text" name="game_name" value="{{ game.game_name }}">
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-comments prefix blue-text text-darken-3"></i>
                        <label for="game_review">Your review</label>
                        <textarea id="game_review" name="game_review" minlength="10" maxlength="200"
                            class="materialize-textarea validate" required></textarea>
                    </div>
                </div>
                
                <!-- Reset Button -->
                <div class="row card-action center-align">
                    <div class="col m6">
        
                    <!--Submit Button-->
                    <button type="submit" class="btn-large waves-effect waves-light blue lighten-1">
                        Submit</button>
                    </div>
                    <div class="col s6">
                    <button type="reset" class="btn-large orange darken-4">
                        Clear
                    </button>
                    </div>
                </div>
                </form>
            </div>
        </div>

    <!-- Reviews section-->

    <div class="col s12 m6 center-align">
        <h2 class="white-text text-shadow comment-sub-heading">Read the reviews</h2>
  
    <!-- Reviews on this game -->
  
    {% if reviews|length > 0 %}
    {% for review in reviews %}
        <div class="row left-align">
        <div class="col s12">
            <div class="card">
            <div class="card-content ">
                <p><b>Comment: </b>{{ review.game_review }}</p>
                <p><em>Added by: {{ review.author|capitalize }}</em></p>
                <p class="hide-on-small-only"><em>Added on: {{ review.created_on }}</em></p>
            </div>
            </div>
        </div>
        </div>
    
    {% endfor %}
    {% else %}
    
            <!-- If no comments -->
            <div class="row">
                <div class="col s12 center-align">
                    <h3>No one has added a review yet - you can be the first!</h2>
                </div>
            </div>
        </div>
        </div>
    {% endif %}
    
    
    
    <!-- Back to games page -->
    <div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('get_games') }}" class="btn-large waves-effect waves-light blue lighten-1 ">Go
        back and
        browse all games</a>
    </div>
    </div>
    </section>
    {% endblock %}
    